<?xml version="1.0" encoding="UTF-8"?>
<system>
    <rules>
        <rule name="101">
            <antecedents>
                <antecedent name="1" />
                <antecedent name="2" />
            </antecedents>
            <consequent name="3" />
        </rule>
        <rule name="104">
            <antecedents>
                <antecedent name="8" />
            </antecedents>
            <consequent name="3" />
        </rule>
        <rule name="103">
            <antecedents>
                <antecedent name="5" />
                <antecedent name="6" />
            </antecedents>
            <consequent name="4" />
        </rule>
        <rule name="107">
            <antecedents>
                <antecedent name="12" />
                <antecedent name="13" />
            </antecedents>
            <consequent name="11" />
        </rule>
         <rule name="115">
            <antecedents>
                <antecedent name="19" />
                <antecedent name="20" />
            </antecedents>
            <consequent name="18" />
        </rule>
        <rule name="109">
            <antecedents>
                <antecedent name="16" />
                <antecedent name="17" />
            </antecedents>
            <consequent name="15" />
        </rule>
        <rule name="108">
            <antecedents>
                <antecedent name="18" />
                <antecedent name="15" />
            </antecedents>
            <consequent name="14" />
        </rule>
        <rule name="110">
            <antecedents>
                <antecedent name="9" />
                <antecedent name="18" />
            </antecedents>
            <consequent name="14" />
        </rule>
        <rule name="105">
            <antecedents>
                <antecedent name="7" />
                <antecedent name="9" />
            </antecedents>
            <consequent name="14" />
        </rule>
        <rule name="111">
            <antecedents>
                <antecedent name="21" />
            </antecedents>
            <consequent name="9" />
        </rule>
        <rule name="106">
            <antecedents>
                <antecedent name="4" />
                <antecedent name="10" />
                <antecedent name="11" />
            </antecedents>
            <consequent name="9" />
        </rule>
        <rule name="102">
            <antecedents>
                <antecedent name="2" />
                <antecedent name="3" />
                <antecedent name="4" />
            </antecedents>
            <consequent name="7" />
        </rule>
    </rules>
</system>